.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 
.main{
    background-color: lavender;
}

.link{
    text-align: center;
    word-spacing: 55px;
    font-size: 17px;
    margin-top: 2px;
    font-style: italic;
    font-weight: bold;
}

.link a{
    text-decoration: none;
    color: brown;
}

.images{
    float: left;
    margin-left: 125px;
    padding: 7px;
font-size: 0px;
margin-top: 60px;
}

.women{
    display: inline-block;
    margin-right: 20px;
    margin-top: 60px;
    margin-left: 125px;
}
.two{
text-align: center;
padding: 0px;
padding-left: 0px;
margin-bottom: 0px;
font-size: 25px;
}

.bottom{
    padding: 0px;
    padding-left: 0px;
display: block;
padding-top: 0px;
}

.four{
    float: left;
    padding-right: 0px;
    padding-left: 0px;
    width: 25%;
    position: fixed;
}

.footer{
    background-color: indianred;
    width: 1390px;
    height: 400px;
    text-align: center;
}

.footer h3{
    font-size: 30px;
    text-align: center;
    color: white;
}

input :focus{
font-size: 14px;
background-color: white;
color: gray;
text-align: center;
}

.footer-buttons-2{
  display: block;
  border: 1px solid indianred;
  color: indianred;
  font-size: 14px;
  font-weight: bolder;
  background-color: white;
  margin: 20px auto;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
}

.footer-buttons-2:hover{
  color: #fff;
  border: 1px solid #fff;
  background-color: indianred;
}

.footer p{
  color: white;
}